<script>
$(document).ready(function(){
  $('form#search').submit(function(){
    console.log($(this));
    var id = $(this).find('input[name=userid]').val();
    $.ajax({
        url:"http://books.nirvawolf.com/Recommendation?userid=" + id,
        type:'GET',
        success: function(data){
          //$('body').append( "Name: " + data );
          alert('fuck');
          $('body').html(data.toString());
        },
        dataType: "jsonp",
        });
    return false;
    });
  });
</script>
<div class="col-md-6">sdfsdf</div>
<div class="col-md-6">sdfsdfsdf</div>