<div class="col-md-6" id='books'>
  <h5>借书记录</h5>
  <ul class="col-md-12">
    <li class="col-md-12">
      <div class='book col-md-4'><img src='assets/4.png' style='height:210px' /><div class='book-name'></div></div>
      <div class='book col-md-4'><img src='assets/4.png' style='height:210px' /></div>
      <div class='book col-md-4'><img src='assets/4.png' style='height:210px' /></div>
    </li>
  </ul>
</div>
<style>
.book {height: 210px; width: 150px;}
.book-name {position:absolute; z-index:2; left:33px; top:85px; color: black;font-size:120%}
ul {background-image: url("assets/3.png");background-repeat:no-repeat;position:relative;}
li {background-image: url("assets/2.png");height: 230px;}
body {background-image: url("assets/3.png");}
h5 {color: white}
</style>
<!-- <div class="col-md-6">
  <h5>借书记录</h5>
  <table class="table table-striped" id="books">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>author</th>
        <th>topic</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div> -->
<div class="col-md-6" id="recommend">
  <h5>推荐图书</h5>
  <ul class="col-md-12">
    <li class="col-md-12">
      <div class='book col-md-4'><img src='assets/4.png' style='height:210px' /><div class='book-name'></div></div>
      <div class='book col-md-4'><img src='assets/4.png' style='height:210px' /></div>
      <div class='book col-md-4'><img src='assets/4.png' style='height:210px' /></div>
    </li>
  </ul>
</div>