<div class="col-md-6" id='books'>
  <h4>借书记录</h4>
  <ul class="col-md-12">
  </ul>
</div>
<style>
.book {height: 210px; width: 150px;}
.book-name {position:absolute; z-index:2; left:33px; top:85px; color: black;font-size:120%}

li {background-image: url("assets/2.png");width: 80%}

</style>
<!-- <div class="col-md-6">
  <h5>借书记录</h5>
  <table class="table table-striped" id="books">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>author</th>
        <th>topic</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div> -->
<div class="col-md-6" id="recommend">
  <h4>推荐图书</h4>
  <ul class="col-md-12">
  </ul>
</div>