<div class="col-md-6">
  <h5>借书记录</h5>
  <table class="table table-striped" id="books">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>author</th>
        <th>topic</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div class="col-md-6">
  <h5>推荐图书</h5>
  <table class="table table-striped" id="recommend">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>author</th>
        <th>topic</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>